<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="w-full min-h-screen bg-zinc-900 text-white p-[10vh] flex items-center justify-center"
    >
      <form action="/login" method="post" class="flex flex-col gap-[2vh]">
        <label class="text-3xl mb-4">Login Form</label>
        <input
          class="p-[1vh] outline-none bg-transparent border-2 border-zinc-700 rounded-[10px] w-[30vw]"
          type="username"
          placeholder="username"
          name="username"
          id=""
        />
        <input
          class="p-[1vh] outline-none bg-transparent border-2 border-zinc-700 rounded-[10px] w-[30vw]"
          type="password"
          placeholder="password"
          name="password"
          id=""
        />
        <input
          class="p-[1vh] bg-blue-700 hover:bg-blue-400 transition w-[30vw]"
          type="submit"
          value="login"
        />
        <div class="flex items-center justify-center flex-col">
          <p>Don't have an account?</p>
          <a href="/register" class="text-blue-400">Register here</a>
        </div>
      </form>
    </div>
  </body>
</html>
